/* Core styles */
:root {
  --background-color: #F4EBD0;
  --header-footer-color: #3CACAE;
  --form-color: #EEB5EB;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--background-color);
  color: rgb(0, 0, 0);
  font-size: 1.6rem;
  line-height: 1.5;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
h1, h2, h3 {
  margin: 0;
  padding: 1.6rem 0;

}
p {
  margin: 0;
  padding: 1.6rem 0;
}
.btn {
  display: inline-block;
  background: #333;
  color: #fff;
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  border: 0.2rem solid #666; 
  margin: 0.8rem 0;
}
.btn:hover {
  background: #eaeaea;
  color: #333;
}

/* Header styles */

header {
  background: var(--header-footer-color);
  width: 100%;
  text-align: center;
}
header h1 {
  color: rgb(255, 255, 255);
}

/* Main styles */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#form-container, #result-container {
  background-color: var(--form-color);
  width: 90%;
  max-width: 50rem;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.button-container {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
/* Footer styles */

footer {
  margin-top: 2rem;
  background: var(--header-footer-color);
  width: 100%;
  text-align: center;
}
footer p {
  font-size: 1rem;
  color: rgb(255, 255, 255);
}

/* Media queries */

@media(min-width: 360px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}